.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  min-height: 100svh;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }
}
