.countriesList li {
    position: relative;
}

.swipeLeft {
    animation: swipeLeft 3000ms ease-out forwards;
}
@keyframes swipeLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-20%);
        opacity: 0.7;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.countriesList li.swipeLeft ~ li {
    transform: translateY(-20px);
    transition: transform 1000ms ease-in-out;
}
